body
{
  padding: 20px;
  font-family: helvetica;
  background-color: beige;

}

.header
{
  display: flex;
}

.boxForm
{
  display: flex;
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);

  padding: 20px;
  background-color: grey;
  color: white;
}

.boxForm2
{
  display: block;
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);

  padding: 20px;
  background-color: orange;
  color: white;
  margin-left: 20px;
}

.boxForm3
{
  display: block;
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);

  padding: 20px;
  background-color: purple;
  color: white;
  margin-left: 20px;
}

.buttonSmall
{
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
  background-color: brown;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1em;
  margin-left: 10px;
}

.buttonSmall:hover
{
  background-color:#365f66 ;
}


#buttonSmallID
{
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
  background-color: brown;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1em;
  margin-left: 10px;
}

#buttonSmallID:hover
{
  background-color: #365f66 ;
}

.buttonSmall2
{
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
  background-color: green;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-left: 10px;
  font-size: 1em;
}


.buttonSmall2:hover
{
  background-color: #f4c0ff;
}

.buttonSmall3
{
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
  background-color: grey;
  width: 200px;
  height: 50px;
  text-align: center;
  margin-left: 10px;
  font-size: 1em;
}


.buttons
{
  display: flex;
}

.buttonText
{
  padding-bottom: 30px;
  /* -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black; */

}

.left
{
  padding-right: 100px;
}
